* {
  margin: 0;
  padding: 0;
}
body {
  width: 1280px;
  margin: 0 auto;
}
.menu {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  width: 90px;
}

.menu-item {
  display: flex;
  gap: 25px;
  list-style: none;
}
.menu-item a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.menu-btn {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  background-color: #00ffff;
  color: #000000;
  border: none;
  transition: 0.5s;
}
.menu-btn:hover {
  background-color: #00cec9;
}



.sec-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec-1 a{
  color: #ff0000;
  text-decoration: none;
}

.box {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
}
.login {
  width: 500px;
  margin: 10px auto;
  background-color: #dff9fb;
  padding: 18px;
  border-radius: 6px;
}
.menu-btn2{
   width: 100%;
   height: 30px;
   border-radius: 5px;
   background-color: #c0392b;
   color: #fff;
   border: none;
}


/* Sweet Details */

.card{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 15px;

}

.sweet{
  width: 300px;
  border-radius: 5px;
  
 
}
.card-1{
  border: 1px solid #e7e2e2;
  border-radius: 8px;
  padding: 8px;
}
.card-1 h2{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

.card-1 button{
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color:#c0392b ;
  color: #ffff;
  transition: 0.5s;
 
}
.card-1 button:hover{
  background-color:#641a12 ;
}
